In [6]:
import yfinance as yf

In [7]:
sp500 = yf.Ticker("^GSPC")

In [8]:
sp500 = sp500.history(period="max")
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-09-25 00:00:00-04:00,4310.620117,4338.509766,4302.700195,4337.439941,3195650000,0.0,0.0
2023-09-26 00:00:00-04:00,4312.879883,4313.009766,4265.979980,4273.529785,3472340000,0.0,0.0
2023-09-27 00:00:00-04:00,4282.629883,4292.069824,4238.629883,4274.509766,3875880000,0.0,0.0
2023-09-28 00:00:00-04:00,4269.649902,4317.270020,4264.379883,4299.700195,3846230000,0.0,0.0
2023-09-29 00:00:00-04:00,4328.180176,4333.149902,4274.859863,4288.049805,3865960000,0.0,0.0